<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="MainConnection" connectionString="server=localhost;user=root;database=warehouse_db;port=3306;password=1q2w3e4r;" />
	</connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>
</configuration>
