<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="VadymConnection" connectionString="server=localhost;user=root;database=warehousecontext;port=3306;password=VVe3buoQ;" />
		<add name="RostikConnection" connectionString="server=localhost;user=root;database=warehousecontext;port=3306;password=1q2w3e4r;" />
	</connectionStrings>
</configuration>